<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% load static %}
  <title>DIGIFESTO</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">


  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/lightbox.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/style1.css' %}" rel="stylesheet">

</head>

<body>
  
  <header id="header">

    <div id="topbar">
      <div class="container">
        <!-- <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div> -->
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#intro" class="scrollto"><span><font color="black"><strong>Digifesto</strong></font></span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro"><font color="black">Home</font></a></li>
          <li><a href="#about"><font color="black">About Us</font></a></li>
          <!-- <li><a href="#services">Services</a></li> -->
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <li><a href="#team"><font color="black">Team</font></a></li>
          <li class="drop-down"><a href=""><font color="black">User Type</font></a>
            <ul>
              <li><a href="pol_log/">Leader</a></li>
              
              <li><a href="vote/">Citizen</a></li>

              <!-- <li><a href="vote/">Civil Agent</a></li>

              <li><a href="list/">Leader View</a></li> -->              
            </ul>
          </li>
          <li><a href="#footer"><font color="black">Contact Us</font></a></li>
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2><font color="white">You Share</font><br><font color="white">And</font><span> <font color="White">Will Grow together</font></span></h2>
          <!-- <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div> -->
        </div>
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="img/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              
              <p>Team Share2Grow</p>
              <p>We are Share2Grows. This is the application which is used to develop a digital manifesto by eliminating the gap between common people and the leaders. </p>
            
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why choose this application?</h3>
          <p>This application is used to deliver the problems directly to the leaders</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="img/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
              

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>Leaders can develop a best manifesto</h4>
                
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>Can know what the problems the citizens are facing</h4>
                
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>Citizens, can feel free to directly communicate their probelms with the leaders and get them solved as soon as possible</h4>
                
              </div>
              
            </div>

          </div>

        </div>

      </div>

    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>FeedBack From Citizens</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <!-- <img src="img/testimonial-1.jpg" class="testimonial-img" alt=""> -->
                <h3>Saul Goodman</h3>
                <!-- <h4>Ceo &amp; Founder</h4> -->
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>
    
              <div class="testimonial-item">
                <!-- <img src="img/testimonial-2.jpg" class="testimonial-img" alt=""> -->
                <h3>Sara Wilsson</h3>
                <!-- <h4>Designer</h4> -->
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>
    
              <div class="testimonial-item">
                <!-- <img src="img/testimonial-3.jpg" class="testimonial-img" alt=""> -->
                <h3>Jena Karlis</h3>
                <!-- <h4>Store Owner</h4> -->
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>
    
              <div class="testimonial-item">
                <!-- <img src="img/testimonial-4.jpg" class="testimonial-img" alt=""> -->
                <h3>Matt Brandon</h3>
                <!-- <h4>Freelancer</h4> -->
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Team Section
    ============================-->
    <section id="team" class="section-bg">
      <div class="container">
        <div class="section-header">
          <h3>Our Team</h3>
          <p>Team Work makes the Dream Work and here's our Team Share2Grow!!</p>
        </div>

        <div class="row">

          <div class="col-lg-2 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="{% static 'img/WhatsApp Image 2023-05-12 at 8.30.23 PM.jpeg' %}" class="img-fluid" alt="" height="800px" width="800px">
              <div class="member-info">
                <div class="member-info-content">
                  <h6>Rishab Macherla</h6>
                  <span>Python-backend & Cloud Developer</span>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="{% static 'img/WhatsApp Image 2023-05-12 at 8.53.05 PM.jpeg' %}" class="img-fluid" alt="" height="800px" width="800px">
              <div class="member-info">
                <div class="member-info-content">
                  <h6>Gowthami Annem</h6>
                  <span>Front-end & Cloud Developer</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="{% static 'img/WhatsApp Image 2023-05-12 at 7.51.23 PM.jpeg' %}" class="img-fluid" alt="" height="960px" width="1280px">
              <div class="member-info">
                <div class="member-info-content">
                  <h6>Sagarika</h6>
                  <span>Database & Cloud Developer</span>
                </div>
              </div>
            </div>
          </div> -->


        </div>



      </div>
    </section><!-- #team -->

    

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>Digifesto</h3>
                    <p>Digifesto came up with an initiative to eliminate the communication gap between citizens and the Leaders.Thus contributing to the develpment of the country and people meeting their requirements.</p>
                  </div>

                  
                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="#about">About us</a></li>
                      <li><a href="#team">Team</a></li>
                      <!-- <li><a href="#">Terms of service</a></li> -->
                      <li><a href="/">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      Rishab Macherla, <br>
                      Kansas City ,64112<br>
                      United States <br>
                      <strong>Phone:</strong> (323)-713-6529<br>
                      <strong>Email:</strong> rm947@umsystem.edu<br>
                    </p>
                    <p>
                      Vamshidhar Reddy, <br>
                      Kansas City ,64112<br>
                      United States <br>
                      <strong>Phone:</strong> <br>
                      <strong>Email:</strong> ve5c3@umsystem.edu<br>
                    </p>
                    <p>
                      Sravan Kumar Reddy <br>
                      Kansas City ,64112<br>
                      United States <br>
                      <strong>Phone:</strong> <br>
                      <strong>Email:</strong> ss7f4@umsystem.edu<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Send us a message</h4>
              <p>Any feedback to be provided or any changes to be made ,please do message us your valuable feedback with us.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>JG</strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/easing.min.js' %}"></script>
  <script src="{% static 'js/mobile-nav.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/counterup.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/lightbox.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
