<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="sample.css">
</head>
<body>
	<!--
		<div class="row" style="border: 5px 5px 5px 5px">

			<div class="col-lg-3 col-md-2 col-sm-1" class="r1">
			
				<div class="hi">
				<ul>
					<li>helloasdfghjkl;kjasdfghjklsdfghjkasdfghjsdfghjsdfghasdfghjkasdfom</li>
				</ul>
				</div>
			</div>

			<div class="col-lg-6 col-md-4 col-sm-2" class="r2">
				
				<div class="hello">
				<br>
				<ul>
					<li>hello centerzxcvbnm,zxcvbnmsazdxfgvhbjnmaSzdfcgvhjewzxtrcfgbhnjzsxdcfvgbhuzsxdcfvgbh</li>
				</ul>
			</div>
		</div>
			<div class="col-lg-3 col-md-2 col-sm-1" class="r3">
			<div class="thumbnail">
				<ul>
					<li>hello rightxdycfuvgbhnjAzsxdctvghujirzsxdcfvgbhnjrzsxdcfvgbhnjAzsxrdtfghj</li>
				</ul>
			</div>
		</div>
		

				
		</div>
		-->
		<div class="left">
			omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya
		</div>
		<div class="center">
			omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya  omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya
		</div>
		<div class="right">
			omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya   omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya omnamahshivaya
		</div>
		</table>
	</body>
</html>