<!DOCTYPE html>
<html>
<head>
	<title>VOTE</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
</head>
<body>

	

	<div class="container" >
		<div class="jumbotron" align="center"><h1>VOTING</h1></div>
		<div class="form-group" style="padding-top: 50px;" align="center">
  			<label for="seld" ><strong><h5>Select District:</h5></strong></label>
  			<select class="form-control" id="seld">
    			<option>1</option>
    			<option>2</option>
    			<option>3</option>
    			<option>4</option>
  			</select>
		</div>


		<div class="form-group" align="center">
	  		<label for="selas"><strong><h5>Select Assembly Constituency:</h5></strong></label>
	  		<select class="form-control" id="selas">
	    		<option>1</option>
	    		<option>2</option>
	    		<option>3</option>
	    		<option>4</option>
	  		</select>
		</div>

		<div align="center">
				<button class="btn btn-success btn-lg">CAST VOTE</button>
		</div>


		
	</div>

</body>
</html>